@import "../../../styles/var";


.modal_overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out
}

.hide {
    opacity: 0;
    transform: translate(-50%, 100%);
}