
@import "../../../styles/var";

.hide_content{
    background: $dark-theme;
    width: 100%;
    height: 200px;
    position: sticky;
    top:0;
    z-index: 1;
}
.editor_wrapper{
    margin-bottom:60px;
}
.editor_container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
    min-height: 100vh;
   
    .popup_overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0, 0, 0, 0.5);
        z-index: 1000;
      }

      .popup {
        width: 50%;
      }
 
    .publish{
        position: fixed;
        top: 90px;
        align-self: flex-end;
        z-index: 1;
        margin-bottom: 30px;
 
        button{
            margin: 0;
        }
    }

.text_editor{
    width: 100%;
    max-width: 920px;
    padding: 15px 30px;
    background-color: $bg-color;
    min-height:calc(100vh - 90px);
    margin-inline: auto;
    display: flex;
  flex-direction: column;
  
   
    .header{
          display: flex;
          flex-direction: column;
          padding-top: 90px;

        input,.create_blog_file{
            background-color: transparent;
            padding: 10px 5px;
            margin: 0;
            text-align: center;

            &::placeholder{
                font-size: 16px;
                text-align: center;
                
             }
 
        }
       
        .title_container>input{
            font-size: $heading-h1
        }
        .title_container,.readtime_container,.thumbnail_container{
            position: relative;
             
        }
 
         .title_container:after,.readtime_container:after,.thumbnail_container:after{
            bottom: 0;
            content: "";
            position: absolute;
             height: 0.3px;
            background-color:  grey;
            width: 100%;
            left: 0;
        }

        img{
            max-height: 600px;
            object-fit: cover;
            border-radius: 20px;
            margin-top: 20px;
        }

        .no_underline{
            &::after{
                opacity: 0;
            }
        }

    }
    .content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        overflow: hidden;
        min-height: 100vh;

        :global(.quill) {
            display: flex;
            flex-direction: column;
            height: 100%;
             color:$f-color;
             
    
            :global(.ql-toolbar.ql-snow) {
                position: fixed;
  top: 145px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: $bg-color;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 70%;
  max-width: 920px;
  padding: 15px 30px;
  box-sizing: border-box;
            }
            
:global(.ql-editor) {
    height: 100%;
    overflow-y: auto;
    padding-top: 20px;
    position: relative;
    z-index: 1;
    
  }
  :global(.ql-container.ql-snow){
    border: none;
    z-index:0;
  }
  
    }
}
}
}

@media (max-width: 1024px) {
    .text_editor {
      padding: 15px;
    }
  
    :global(.ql-toolbar.ql-snow) {
      padding: 15px;
      top:140px;
    }
            
    }
    @media (max-width: 425px){
        .editor_container {
            .text_editor {
       .header{
        padding-top: 170px;
        }
    }
}
  }
    @media (max-width: 320px){
        .editor_container {
            .text_editor {
       .header{
        padding-top: 200px;
        }
    }
}
  }